<div class="container">
    <div class="row">

        <div class="col-md-4">
            <h4>Friends</h4>
            <ul class="list-group">
                <% current_user.friends.each do |friend| %>
                <li class="list-group-item">
                    <%= friend.email %>
                    <%= link_to "Remove Friend", friendship_path(:id => friend), :method => :delete, class: 'btn btn-danger btn-xs' %>
                </li>
                <% end %>
            </ul>
        </div>

        <div class="col-md-4">
            <h4>Your awaiting friend requests:</h4>
            <ul class="list-group">
                <% current_user.requested_friendships.each do |request| %>
                <li class="list-group-item">
                    <%= request.email %>
                    <%= link_to "Accept",  friendship_path(id: request.id), method: "put", class: 'btn btn-success btn-xs' %>
                    <%= link_to "Decline", friendship_path(id: request.id), method: :delete, class: 'btn btn-warning btn-xs' %>
                </li>
                <% end %>
            </ul>
        </div>

        <div class="col-md-4">
            <h4>Your sent friend requests:</h4>

            <ul class="list-group">
                <% current_user.pending_friends.each do |request| %>
                <li class="list-group-item">
                    <%= request.email %>
                </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>
